@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: lightgray;
}

header {
    background-color: rgb(148, 148, 148);

}

header > h1 {
    text-align: center;
    padding: 10px;
}

menu {
    display: block;
}

menu > ul {
    list-style: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: gray;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
}

article > h2 { margin-bottom: 20px;}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
    line-height: 1.5em;
}