@charset "UTF-8";

* {margin: 0; padding: 0;}

body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #1212d8d5;
    font: normal 15pt arial;
}

header {
    max-width: 800pt;
    margin: auto;
}

header h1 {
    text-align: center;
    margin-top: 20pt;
    padding: 10pt;
    color: white;
}

section {
    max-width: 600px;
    box-sizing: border-box;
    margin: 20pt auto;
    padding: 20pt;
    border-radius: 10pt;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.452);
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    
    gap: 20pt;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20pt;
}

#img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.button {
    margin: auto;
    padding: 2pt 8pt;
}

.button input {
    padding: 3px 20px;
    background-color: #a8a6a6c9;
    border: none;
    border-radius: 5pt;
}

footer {
    max-width: 800pt;
    margin: 0 auto;
}

footer p {
    margin: auto;
    text-align: center;
    color: white
}